name: Build and Push Stable Image

on:
  workflow_dispatch:
    inputs:
      version:
        default: 'latest'
        description: 'Package version'
        type: string
        required: true
  schedule:
    - cron: '0 20 * * *'

permissions:
  contents: write
  packages: write

env:
  app_name: 'memos'
  app_repo: 'usememos/memos'

jobs:
  check-release:
    runs-on: ubuntu-latest
    outputs:
      app_version: ${{ steps.get-version.outputs.app_version }}
      app_build: ${{ steps.check-release.outputs.app_build }}
    steps:
      - uses: actions/checkout@v5

      - name: Get Version
        id: get-version
        run: |
          if [ "${{ github.event_name }}" = "schedule" ] || [ "${{ github.event.inputs.version }}" = "latest" ]; then
            app_version=$(curl -s "https://api.github.com/repos/${app_repo}/releases/latest" | jq -r .tag_name)
          else
            app_version=${{ github.event.inputs.version }}
          fi
          if [ -z "${app_version}" ] || [ "${app_version}" == "null" ]; then
            echo "Failed to get version"
            exit 1
          fi
          
          echo "app_version=${app_version}" >> $GITHUB_ENV
          echo "app_version=${app_version}" >> $GITHUB_OUTPUT
          echo ""
          echo "========== Build Args =========="
          echo "app_version=${app_version}"

      - name: Check Release
        id: check-release
        run: |
          gh release view ${app_version} -R ${{ github.repository }} | grep ${app_name}_${app_version}_linux_loong64.tar.gz >/dev/null 2>&1 || echo "app_build=1" >> $GITHUB_OUTPUT
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  build-and-push-image:
    if: needs.check-release.outputs.app_build == '1'
    runs-on: ubuntu-latest
    needs: check-release
    env:
      app_version: ${{ needs.check-release.outputs.app_version }}
    steps:
      - uses: actions/checkout@v6
        with:
          repository: ${{ env.app_repo }}
          ref: ${{ env.app_version }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      # Frontend build.
      - uses: pnpm/action-setup@v4
        with:
          version: 10

      - uses: actions/setup-node@v6
        with:
          node-version: "22"
          cache: pnpm
          cache-dependency-path: "web/pnpm-lock.yaml"

      - run: pnpm install
        working-directory: web
      - name: Run frontend build
        run: pnpm release
        working-directory: web

      - name: Prepar build
        run: |
          echo "image_tag=${app_version/v/}" >> $GITHUB_ENV
          sed -i 's@FROM golang@FROM ghcr.io/loong64/golang@g' scripts/Dockerfile
          sed -i 's@FROM alpine@FROM ghcr.io/loong64/alpine@g' scripts/Dockerfile

      - name: Build and Push
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./scripts/Dockerfile
          platforms: linux/amd64,linux/arm64,linux/loong64,linux/ppc64le,linux/riscv64,linux/s390x
          push: true
          tags: |
            ghcr.io/${{ github.repository_owner }}/neosmemo/memos:${{ env.image_tag }}
            ghcr.io/${{ github.repository_owner }}/neosmemo/memos:stable
            ghcr.io/${{ github.repository_owner }}/neosmemo/memos:latest
          cache-from: type=gha
          cache-to: type=gha,mode=max

  build-and-push-artifacts:
    if: needs.check-release.outputs.app_build == '1'
    runs-on: ubuntu-latest
    needs: check-release
    env:
      app_version: ${{ needs.check-release.outputs.app_version }}
    steps:
      - uses: actions/checkout@v6
        with:
          repository: ${{ env.app_repo }}
          ref: ${{ env.app_version }}

      - uses: actions/setup-go@v6
        with:
          go-version: stable

      - uses: pnpm/action-setup@v4
        with:
          version: 10

      - uses: actions/setup-node@v6
        with:
          node-version: "22"
          cache: pnpm
          cache-dependency-path: "web/pnpm-lock.yaml"

      - run: pnpm install
        working-directory: web
      - run: pnpm release
        working-directory: web

      - name: Prepar build
        run: |
          wget -O ../goreleaser.test https://github.com/${{ github.repository }}/raw/refs/heads/main/.goreleaser.yaml

      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v6
        with:
          distribution: goreleaser
          version: '~> v2'
          args: release --config ../goreleaser.test --clean --skip=validate
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}